* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px 30px;
}
body {
  background-color: #333;
  color: white;
}
.title {
  background-color: bisque;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: black;
}

.desc {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
}

.list {
  margin-top: 20px;
  padding: 10px;
}
.list-item {
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

// *Scss Değişkenler

//  todo: Scss değişkenleri tanımlanırken '$'  işareti konulur.Sonrasında bu değişkene verilecek isim yazılır.Bu isimden sonra ':' konulup bu : nın sağında değişkenin değeri yazılır.

$bgColor: blue;
$width: 350px;
$height: 300px;
.kapsayıcı {
  width: $width;
  height: $height;
  background-color: lightgreen;
  margin-top: 20px;
}

.kp-1 {
  background-color: $bgColor;
}

.kp-2 {
  background-color: $bgColor;
}

.kp-3 {
  background-color: $bgColor;
}

// * Scss İç İçe Yazım

// Header Örneği Css ile yazım
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 30px;
}

header .logo h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 43px;
}

header .center nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .center nav li {
  list-style: none;
}

header .center nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}
header .center nav li a:hover {
  color: blue;
}
header .right i {
  font-size: 30px;
}
header .right i:hover {
  color: blue;
}
